<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xymiao.tutorial.mybatis.mapper.UserInfoMapper">
    <select id="getUserInfo" parameterType="int" resultType="com.xymiao.tutorial.mybatis.pojo.UserInfo" >
        select id, nick_name, real_name, age, role_id from user_info where id = #{id}
    </select>

    <select id="getUserInfoByDb" parameterType="int" resultType="com.xymiao.tutorial.mybatis.pojo.UserInfo" >
        select id, nick_name as nickName, real_name as realName, age, role_id as roleId from user_info where id = #{id}
    </select>
</mapper>